body{
  padding: 0;
  margin: 0;
}

.bgmessi{
  width: 100%;
  height: 690px;
  background-color: #E3EBED;
}

.section{
  width: 100%;
  display: flex;
}

.section-title{
  width: 30%;
  margin-left: 10%;
  margin-top: 8%;
}

.section-title h5{
  font-size: 40px;
  font-weight: bold;
}

.section-title p{
  font-size: 18px;
}

.section-title button{
  margin-top: 5%;
  width:  60%;
  height: 35px;
  margin-left: 15%;
  font-size: 16px;
  border: 1px solid silver;
  cursor: default;
  transition: .4s;
}

.section-title button:hover{
  color: white;
  background-color: #84b5c1;
}

.section-im{
  width: 50%;
  margin-left: 10%;
  margin-top: 11.3%;
  
}

.section-im img{
  width: 650px;
  height: 650px;
  margin-top: -17.5%;
  margin-left: 15%;
}

.box-background{
  width: 100%;
}

.box-top{
   width: 100%;
   margin-top: 4%;
   display: flex;
}

.section-text{
  width: 30%;
  margin-left: 0%;
  padding: 20px;
}

.section-text h5{
  font-size: 20px;
  margin-top: -3%;
  border-bottom: 1px solid silver;
  cursor: default;
}

.section-text p{
  font-size: 16px;
  margin-top: -1%;
  color: rgb(85, 84, 84);
  cursor: default;
}

.section-img{
  width: 40%;
  margin-left: 10%;
}

.section-img img{
  width: 400px;
  height: 250px;
  margin-left: 34%;
  border-radius: 15px;
}

.box-bottom{
  width: 100%;
  margin-top: 5%;
  display: flex;
}

.text-service{
  width: 33%;
  padding: 20px;
  margin-left: 22%;
}

.text-service h5{
  font-size: 20px;
  margin-top: -3%;
  border-bottom: 1px solid silver;
  cursor: default;
}

.text-service p{
  font-size: 16px;
  margin-top: -1%;
  color: rgb(85, 84, 84);
  cursor: default;
}

.text-service h3{
  color: rgb(98, 165, 143);
  font-size: 16px;
  margin-top: -3%;
}

.google-map{
  width: 40%;
  margin-left: 0%;
}

.google-map iframe{
  width: 350px;
  height: 200px;
  border: 1px solid silver;
  border-radius: 20px;
}

@media screen and (max-width: 360px){

  .box-top{
    display: block;
 }

 .bgmessi{
  width: 100%;
  height: 310px;
  background-color: #E3EBED;
}

.section-title{
  width: 45%;
  margin-left: 5%;
  margin-top: 8%;
}

 .section-title h5{
  font-size: 20px;
  font-weight: bold;
}

.section-title p{
  font-size: 12px;
}

.section-title button{
  margin-top: 5%;
  width:  100%;
  height: 35px;
  margin-left: 0%;
  font-size: 10px;
}

.section-im{
  width: 40%;
  margin-left: 0%;
  margin-top: 35%;
  
}

.section-im img{
  width: 160px;
  height: 170px;
  margin-top: 0%;
  margin-left: 15%;
}

 .section-text{
  width: 80%;
  margin-left: 10%;
  }

  .section-text h5{
    font-size: 16px;
  }

  .section-text p{
    font-size: 12px;
  }

  .section-img img{
    width: 280px;
    height: 150px;
    margin-top: 30%;
    margin-left: 3%;
  }
  
  .box-bottom{
    width: 100%;
    margin-top: -10%;
    display: block;
  }
  
  .text-service{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .text-service h5{
    font-size: 16px;
    cursor: default;
  }
  
  .text-service p{
    font-size: 12px;
    margin-top: -4%;
  }
  
  .text-service h3{
    font-size: 14px;
    margin-top: -3%;
  }

  .google-map{
    width: 40%;
    margin-left: 10%;
    margin-top: -10%;
  }
  
  .google-map iframe{
    width: 280px;
    height: 170px;
    margin-top: 30%;
    margin-left: 3%;
  }
}