h4{
    text-align: center;
    font-size: 30px;
}

.row{
    display: flex;
    width: 80%;
    margin-left: 25%;
    width: 50%;
}
.row-1{
  display: flex;
  width: 100%;

}


.from-pay{
  display: grid;
  /* grid-template-columns: repeat(2,1fr); */
  width: 90%;
  row-gap: 30px;
  margin-top: 2%;
  margin-left: 7.5%;
  margin-bottom: 10%;
}

.from-payall{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 80%;
  row-gap: 30px;
  margin-top: 2%;
  margin-left: 190px;
  margin-right: 0%;
  margin-bottom: 10%;
}

.detailsPay{
    width: 90%;
    border: 1px solid rgb(131, 129, 129) ;
    border-radius: 10px;
    display: flex;
    background-color: #ffffff;
}

.detailsPayall{
  width: 90%;
  border: 1px solid rgb(131, 129, 129) ;
  border-radius: 10px;
  display: flex;
  background-color: #ffffff;
}

.detailsLeft{
    width: 45%;
    margin-left: 2%;
}



.detailsLeft img{
    width: 65%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
}

.detailsLeft img:hover{
    transform:scale(2.0,2.0);
}

.detailsRight{
    width: 55%;
    margin-left: 0%;
}

.detailsRightall{
  width: 70%;
  margin-left: 2%;
}

.detailsRight p{
    font-size: 18px;
}

.btnCf-pay{
    width: 40%;
    height: 35px;
    background-color: #ffffff;
    margin-left: 0%;
    transition: .4s;
    margin-bottom: 5%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #1d9e11 ;
  }
  
  .btnCf-pay:hover{
    background-color: #105e09;
    color : white ;
    border-radius: 10px;
  }

  .btnCf-ccpay{
    width: 50%;
    height: 35px;
    background-color: #ffffff;
    margin-left: 0%;
    transition: .4s;
    margin-bottom: 5%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #1d9e11 ;

  }

  .btnCf-ccpay:hover{
    background-color: #105e09;
    color : white ;
    border-radius: 10px;

  }
  
  .btnCancel-pay{
      width: 40%;
      height: 35px;
      background-color: white;
    margin-left: 2%;
    transition: .4s;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #dc1111 ;

  }
  
  .btnCancel-pay:hover{
    background-color: rgb(196, 5, 5);
    color: white;
    border-radius: 10px;
  }
  .btn-all-transaction{
    width: 10%;

    background-color: #ffffff;
    margin-left: 59.5%;
    transition: .4s;
    margin-top: 1%;
    border-radius: 10px;
    color: #111F2C;
    
  }
  .btn-all-transaction:hover{
    background-color: #203a53;
    color: white;
  }
  .num-transaction{
    margin-left: 190px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: default;
    text-decoration: underline;
  }
  .big-cardpay{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #DDD;
    margin-bottom: 2%;
  }

