.row-report{
    width: 80%;
    margin-left: 10%;
}

.card-report{
    width: 80%;
    margin-left: 10%;
}

.card-report h2{
    font-size: 18px;
}

.card-report h3{
    color: rgb(65, 65, 65);
}

.table-style {
    border-collapse: collapse;
    background-color: white;
    color: black;
    border: 3px solid #DADBDB;
    width: 1350px;
    border-radius: 10px;
    margin-left: 72px;
    margin-top: 4%;
    margin-bottom: 2%;
}
.table-style1 {
    border-collapse: collapse;
    background-color: #111F2C;
    color: black;
    border: 1px solid #DADBDB;
    width: 60%;
    border-radius: 10px;
    margin-left: 20%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.form-time-report {
    position: fixed;
    left: 47%;
}

.form {
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
}


td {
    border-bottom: 2px solid #111F2C;
    text-align: center;
    padding: 8px;

}

th {
    border: 1px solid #111F2C;
    text-align: center;
    padding: 8px;
    color: black;
}

.row-report{
    display: grid;
   grid-template-columns: repeat(4,4fr);
   width: 100%;
   margin-top: 3%;
   margin-left: 5%;
   margin-bottom: 2%;
   }
   
   .form-time-report{
   width: 93%;
   height: 40px;
   border-radius: 20px;
   padding-left: 15px;
   transition: .4s;
   margin-left: 20%;
   }
   .red{
     color: red;
   }
   .Green{
     color: rgb(22, 238, 22);
   }

.card-success{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #111F2C;
    width: 60%;
    height: 90%;
    /* margin-left: 10%; */
    text-align: center;
}   

.card-processing{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #111F2C;
    width: 60%;
    height: 90%;
    /* margin-left: 2%; */
    text-align: center;
}

.card-income{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;;
    border:2px solid #111F2C;
    width: 60%;
    height: 90%;
    /* margin-left: 10%; */
    text-align: center;


}
.card-allincome{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;;
    border:2px solid #111F2C;
    width: 60%;
    height: 90%;
    /* margin-left: 10%; */
    text-align: center;


}
.btn-all-transaction{
    width: 15%;;
    background-color: #ffffff;
    margin-left: 83%;
    transition: .4s;
    margin-bottom: 10px;
    margin-top: 1px;
    border-radius: 10px;
    color: #111F2C;
}
.btn-all-transaction:hover{
    background-color: #111F2C;
    color: white;
  }
.text-today{
    margin-left: 3%;
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: default;
    text-decoration: underline;
}
.big-card{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #DDD;
}
.text-header{
    margin-left: 21%;
    margin-top: 2%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: default;
}