body{
  margin: 0;
  padding: 0;
}

h3{
  text-align: center;
  margin-top: 3%;
  font-size: 30px;
}

.box-text{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border: 1px solid silver;
  border-radius: 20px;
  display: flex;
}

.section-left{
  width: 6%;
  height: 70px;
  margin-left: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  border: 1px solid #FD9999;
  border-radius: 35px;
  background-color: #FD9999;
}

.section-left p{
  text-align: center;
  margin-top: 25%;
  font-size: 16px;
}

.section-right{
  width: 85%;
  margin-left: 2.5%;
}

.section-right h5{
  border-bottom: 1px solid silver;
}

.section-right p{
  margin-top: 1%;
  font-size: 16px;
  color: rgb(121, 120, 120);
}
.section-right img{
  width: 300px;
  height: 200px;
  border-radius: 15px;
}


@media screen and (max-width: 360px){
  
  h3{
    font-size: 16px;
  }
  
  .box-text{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .section-left{
    width: 15%;
    height: 40px;
    margin-top: 2%;
  }
  
  .section-left p{
    font-size: 10px;
  }

  .section-right{
    width: 80%;
    margin-left: 2.5%;
  }
  
  .section-right h5{
    font-size: 12px;
  }
  
  .section-right p{
    margin-top: 4%;
    font-size: 10px;
    color: rgb(121, 120, 120);
  }
  .section-right img{
    width: 150px;
    height: 110px;
    border-radius: 15px;
  }
}
